<div class="faq-wrapper main_wrapper">
    <input id="serology_toggle1" type="checkbox" name="toggle" class="question" checked="checked" />
    <label for="serology_toggle1">
        Serology Report
    </label>
    <section id="serology_toggle">
        <p class="info_p">Please attach required Serology Report</p>
        <div ng-if="$ctrl.serologyDoc">
            <document-uploader
                columns="$ctrl.serologyDoc.columns"
                document-types="$ctrl.serologyDoc.documentTypes" 
            >
            </document-uploader>
        </div>
    </section>
    <input id="initial_document1" type="checkbox" name="toggle" class="question" checked="checked" />
    <label for="initial_document1">
        Initial Document
    </label>
    <section id="initial_document">


        <div class="tabs_m">
            <div class="inner_container">
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                        role="tab" aria-controls="nav-home" aria-selected="true">Upload Consolidated Donor
                        Chart</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                        role="tab" aria-controls="nav-profile" aria-selected="false">Upload By Section</a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="nav-home" role="tabpanel"
                        aria-labelledby="nav-home-tab">
                        <div class="inner_container">
                            <p class="info_p">Upload Consolidated Donor Chart in single upload action. This
                                might increase the overall timeline for closing the case.</p>
                            <div ng-if="$ctrl.consolidatedDoc">
                                <document-uploader
                                    columns="$ctrl.consolidatedDoc.columns"
                                    document-types="$ctrl.consolidatedDoc.documentTypes" 
                                >
                                </document-uploader>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                        aria-labelledby="nav-profile-tab">
                        <p class="info_p">Explore new ways of uploading document(s). This will help in
                            closing the case early and will reduce the overall timeline.</p>

                        <div class="faq-wrapper">
                            <input id="question1" type="checkbox" name="toggle" class="question" />
                            <label for="question1">
                                <img src="images/help_i.png" /> Authorization
                            </label>

                            <section id="answer1">
                                <div class="attach_box">
                                    <table class="attach_table">
                                        <tr>
                                            <th>Document Type</th>
                                            <th>Document Attached</th>
                                            <th>Attach Document</th>
                                        </tr>
                                        <tr>
                                            <td>Hierarchy</td>
                                            <td> <button class="add_dono add_doc">
                                                    <span>Attch Document</span>
                                                    <input type="file" id="file3" data-common="file3"
                                                        name="files[]" multiple />
                                                </button></td>
                                            <td><img src="images/upload.png" /></td>
                                        </tr>

                                        <tr>
                                            <td>Consent</td>
                                            <td> <button class="add_dono add_doc">
                                                    <span>Attch Document</span>
                                                    <input type="file" id="file4" data-common="file4"
                                                        name="files[]" multiple />
                                                </button></td>
                                            <td><img src="images/upload.png" /></td>
                                        </tr>

                                        <tr>
                                            <td>Research</td>
                                            <td> <button class="add_dono add_doc">
                                                    <span>Attch Document</span>
                                                    <input type="file" id="file5" data-common="file5"
                                                        name="files[]" multiple />
                                                </button></td>
                                            <td><img src="images/upload.png" /></td>
                                        </tr>

                                        <tr>
                                            <td>Education</td>
                                            <td> <button class="add_dono add_doc">
                                                    <span>Attch Document</span>
                                                    <input type="file" id="file6" data-common="file6"
                                                        name="files[]" multiple />
                                                </button></td>
                                            <td><img src="images/upload.png" /></td>
                                        </tr>

                                        <tr>
                                            <td>Other</td>
                                            <td>
                                                <button class="add_dono add_doc">
                                                    <span>Attch Document</span>
                                                    <input type="file" id="file7" data-common="file7"
                                                        name="files[]" multiple />
                                                </button>
                                            </td>
                                            <td><img src="images/upload.png" /></td>
                                        </tr>
                                    </table>
                                </div>
                            </section>

                            <input id="question2" type="checkbox" name="toggle" class="question" />
                            <label for="question2">
                                <img src="images/help_i.png" /> Recovery
                            </label>

                            <section id="answer2">
                                <div class="attach_box">
                                    <table class="attach_table">
                                        <tr>
                                            <th>Document Type</th>
                                            <th>Document Attached</th>
                                            <th>Attach Document</th>
                                        </tr>
                                        <tr>
                                            <td>Serology Report</td>
                                            <td> <button class="add_dono add_doc">
                                                    <span>Attch Document</span>
                                                    <input type="file" id="file8" data-common="file8"
                                                        name="files[]" multiple />
                                                </button></td>
                                            <td><img src="images/upload.png" /></td>
                                        </tr>
                                    </table>
                                </div>
                            </section>

                            <input id="question3" type="checkbox" name="toggle" class="question" />
                            <label for="question3">
                                <img src="images/help_i.png" /> DRAI
                            </label>

                            <section id="answer3">
                                <div class="attach_box">
                                    <table class="attach_table">
                                        <tr>
                                            <th>Document Type</th>
                                            <th>Document Attached</th>
                                            <th>Attach Document</th>
                                        </tr>
                                        <tr>
                                            <td>Serology Report</td>
                                            <td> <button class="add_dono add_doc">
                                                    <span>Attch Document</span>
                                                    <input type="file" id="file9" data-common="file9"
                                                        name="files[]" multiple />
                                                </button></td>
                                            <td><img src="images/upload.png" /></td>
                                        </tr>
                                    </table>
                                </div>
                            </section>


                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <input id="aditional_doc1" type="checkbox" name="toggle" class="question" checked="checked" />
    <label for="aditional_doc1">
        Additional Document
    </label>
    <section id="aditional_doc">
        <div class="attach_box adl_tbl">
            <h4>
                <img src="images/help_i.png" /> DRAI
            </h4>
            <div ng-if="$ctrl.additionalDoc">
                <document-uploader
                    columns="$ctrl.additionalDoc.columns"
                    document-types="$ctrl.additionalDoc.documentTypes" 
                >
                </document-uploader>
            </div>
        </div>
    </section>
</div>